
<div id="scroller">

  <h2>Contents</h2>

  {% for pg in site.pages %}
    {% if pg.partof == "getting-started" and pg.outof %}
      {% assign totalPagesTour = pg.outof %}
    {% endif %}
  {% endfor %}

  <h3><a href="/scalameter/">ScalaMeter</a></h3>

  <ul class="bullets">
    <li><a href="/scalameter/home/news/">News</a></li>
    <li><a href="/scalameter/home/download/">Download</a></li>
  </ul>

  <h3><a href="/scalameter/home/gettingstarted/">Getting started</a></h3>
  {% if totalPagesTour %}
  <ul class="bullets">
    {% for i in (1..totalPagesTour) %}
      {% for pg in site.pages %}
        {% if pg.partof == "getting-started" and pg.num and pg.num == i %}
          <li><a href="/scalameter/{{ pg.url }}">{{ pg.title }}</a></li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
  {% else %}
    **ERROR**. Couldn't find the total number of pages in this set of tutorial articles. Have you declared the `outof` tag in your YAML front matter?
  {% endif %}

  <h3>Other</h3>

  <ul class="bullets">
    <li><a href="/scalameter/home/authors/">Authors</a></li>
    <li><a href="/scalameter/home/contact/">Contact</a></li>
    <li><a href="/scalameter/home/license/">License</a></li>
  </ul>


</div>
