<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} ScalaMeter </title>
  <link rel="icon" type="image/png" href="/scalameter/favicon.ico">
  <link rel="stylesheet" href="/scalameter/resources/css/960.css" />
  <link rel="stylesheet" href="/scalameter/resources/css/scalameter.css" />
  <link rel="stylesheet" href="/scalameter/resources/js/styles/monokai2.css">
  <script src="/scalameter/resources/js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>

  <div id="wrap">

    <div id="top">
      <div class="container_12">
        <div class="grid_12">
          <ul class="horizmenu">
            <li><a href="/scalameter/">Home</a></li>
            <li><a href="/scalameter/home/news">News</a></li>
            <li><a href="/scalameter/home/gettingstarted">Getting Started</a></li>
            <li><a href="http://groups.google.com/group/scalameter">Mailing List</a></li>
            <li><a href="/scalameter/home/download">Download</a></li>
            <li><a href="http://github.com/axel22/scalameter">Code</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="lightdivider"></div>


    {{ content }}

  </div>

  <div id="footer">
    <div class="darkdivider"></div>
    <div class="lightdivider"></div>
  
    <div id="footercontent" class="container_16">
      <div class="grid_3 footer">
        <div class"grid_3 alpha footer"><h2 class="footer">ScalaMeter</h3></div>
        <div class"grid_3 darkdivider hidivider"><hr class="footer"/></div>
        <div class"grid_3 footer"><a href="/scalameter/home/gettingstarted">Getting Started</a></div>
        <div class"grid_3 footer"><a href="http://lampwww.epfl.ch/~prokopec/scalameter/index.html#package">API Reference</a></div>
        <div class"grid_3 omega footer"><a href="/scalameter/home/download">Download</a></div>
      </div>
      <div class="grid_3 footer">
        <div class"grid_3 alpha footer"><h2 class="footer">Contribute</h3></div>
        <div class"grid_3 darkdivider hidivider"><hr class="footer"/></div>
        <div class"grid_3 footer"><a href="http://github.com/axel22/scalameter">Source Code</a></div>
        <div class"grid_3 footer"><a href="http://groups.google.com/group/scalameter">Mailing List</a></div>
        <div class"grid_3 omega footer"><a href="/scalameter/home/reportbug">Report a Bug</a></div>
      </div>
      <div class="grid_3 footer">
        <div class"grid_3 alpha footer"><h2 class="footer">Information</h3></div>
        <div class"grid_3 darkdivider hidivider"><hr class="footer"/></div>
        <div class"grid_3 footer"><a href="/scalameter/home/license">License</a></div>
        <div class"grid_3 omega footer"><a href="/scalameter/home/contact">Contact</a></div>
        <div class"grid_3 footer"><a href="/scalameter/home/authors">Authors</a></div>
      </div>
      <div class="grid_7 push_1 footer titlefooter">
        <img src="/scalameter/resources/images/logo-small2.png" alt="logo" class="footer"></img>
        ScalaMeter
      </div>
      
      <div class="grid_16 darkdivider hidivider"></div>

      <div class="grid_8 footer">&copy; 2012 ScalaMeter</div>
      <div class="grid_8 footer">ScalaMeter is Open Source Software and is available under the New BSD License.</div>
    </div>
  </div>

</body>
</html>
